body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card
{
  border :1px solid;
  margin-bottom: 20px;
  padding: 20px;
}

.rightSide
{
  float: right;
  margin-top: -30px;
}
.sortButton
{
  margin-right: 35px;
  background: center;
  border: aqua;
}
.SearchForm{
  float: right;
  margin: -40px;
}
.paginationActive
{
  background:cadetblue;
  color:black;
}
.ViewButton
{
  margin-right: 100px;
}

.dropdownLogout
{
  position: absolute;
  margin-left: -100px;
  margin-top: 5px;
}
